* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

:root {
  --face-color: #ffccaa;
  --hear-color: #653301;
  --scarf-color1: #ffcc66;
  --scarf-color2: #cc0200;
  --clothes-color: #222222;
  --leg-color: #444444;
  --black: black;
}

/* clouds */
body {
  background-image: linear-gradient(
    to top,
    rgb(47, 198, 47) 0 20%,
    skyblue 20% 80%,
    #070bf1
  );
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.clouds {
  position: relative;
  width: 100%;
  height: 100%;
}
.cloud2 {
  position: absolute;
  top: 0px;
  left: 70%;
  transform: translateX(-100%);
  animation: cloud2move 40s linear infinite;
  animation-duration: altenate;
}

.cloud1 {
  position: absolute;
  top: 0px;
  left: 0;
  transform: translateX(-100%);
  animation: cloud1move 40s linear infinite;
  animation-duration: altenate;
}

@keyframes cloud1move {
  0% {
    left: 0;
  }
  50% {
    left: 60%;
  }
  100% {
    left: 0;
  }
}

@keyframes cloud2move {
  0% {
    left: 60%;
  }
  50% {
    left: 0;
  }
  100% {
    left: 60%;
  }
}

.cloud1 .cercle1 {
  position: absolute;
  left: 100px;
  top: 90px;
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 50%;
}
.cloud1 .cercle2 {
  position: absolute;
  left: 50px;
  top: 130px;
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 50%;
}
.cloud1 .cercle3 {
  position: absolute;
  left: 180px;
  top: 129px;
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 50%;
}
.cloud1 .rectangle {
  position: absolute;
  left: 50px;
  top: 163px;
  width: 190px;
  height: 30px;
  background-color: white;
}

.cloud2 .cercle1 {
  position: absolute;
  left: 150px;
  top: 100px;
  width: 90px;
  height: 90px;
  background-color: white;
  border-radius: 50%;
}
.cloud2 .cercle2 {
  position: absolute;
  left: 50px;
  top: 130px;
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 50%;
}
.cloud2 .cercle3 {
  position: absolute;
  left: 200px;
  top: 129px;
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 50%;
}
.cloud2 .cercle4 {
  position: absolute;
  left: 80px;
  top: 90px;
  width: 90px;
  height: 90px;
  background-color: white;
  border-radius: 50%;
}
.cloud2 .cercle5 {
  position: absolute;
  left: 130px;
  top: 75px;
  width: 90px;
  height: 90px;
  background-color: white;
  border-radius: 50%;
}

.cloud2 .rectangle {
  position: absolute;
  left: 50px;
  top: 163px;
  width: 210px;
  height: 28px;
  background-color: white;
}

/* *********** */

/* the boy body */
.box {
  /* width: 500px; */
  height: 500px;
  position: absolute;
}
/* head style */
.hair {
  position: absolute;
  width: 200px;
  height: 150px;
  left: 50%;
  top: 5%;
  z-index: 10;
  transform: translate(-45%);
  animation: hairAnimation 1s linear infinite;
}

@keyframes hairAnimation {
  0% {
    top: 5%;
  }
  50% {
    top: 6%;
  }
  100% {
    top: 5%;
  }
}
.hleft {
  position: absolute;
  width: 50px;
  height: 90px;
  background-color: var(--hear-color);
  border: 2px solid black;
  border-radius: 70% 0 90% 0;
  z-index: 10;
}

.hmiddle {
  position: absolute;
  right: 0;
  width: 160px;
  height: 70px;
  background-color: var(--hear-color);
  border: 3px solid black;
  border-radius: 0 50% 0 90%;
  z-index: 10;
}

.hright {
  position: absolute;
  top: 30px;
  right: 0;
  width: 40px;
  height: 60px;
  background-color: var(--hear-color);
  border: 2px solid black;
  border-radius: 0 80% 0 90%;
  z-index: 10;
}
.face-box {
  margin: 10px auto;
  width: 100%;
  height: 100%;
  border: 2px solid var(--black);
  background-color: var(--face-color);
  position: absolute;
  left: 50%;
  top: 13px;
  transform: translate(-50%);
  border-radius: 20% 20% 50% 50%;
  z-index: 9;
}

.face-box .eyes-box {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 30px;
  transform: translate(0, -75%);
}

.face-box .eyes-box .eye-box {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  left: 30%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.face-box .eyes-box .eye-box span {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(97, 68, 40);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 10px 0 var(--leg-color);
}
.face-box .eyes-box .eye-box span::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: white;
}
.face-box .eyes-box .eye-box.right {
  left: 70%;
}

.face-box .eyes-box .glasses-box {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.face-box .eyes-box .glasses-box .circle {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--black);
  left: 30%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.face-box .eyes-box .glasses-box .circle.right {
  left: 70%;
}
.face-box .eyes-box .glasses-box .circle.right::after,
.face-box .eyes-box .glasses-box .circle.left::after {
  content: "";
  position: absolute;
  width: 45px;
  height: 10px;
  top: 50%;
  left: 100%;
  transform: translate(0, -25%);
  border-top-right-radius: 60%;
  border-top: 5px solid var(--black);
}
.face-box .eyes-box .glasses-box .circle.left::after {
  border-radius: 0;
  width: 40px;
}
.face-box .eyes-box .glasses-box .circle.left::before {
  content: "";
  position: absolute;
  width: 45px;
  height: 10px;
  top: 50%;
  left: -45px;
  transform: translate(0, -25%);
  border-top-left-radius: 60%;
  border-top: 5px solid var(--black);
}

.face-box::after,
.face-box::before {
  content: "";
  width: 10px;
  height: 20px;
  border-radius: 0 10px 10px 0;
  background-color: var(--face-color);
  border: 1px solid black;
  position: absolute;
  top: 50%;
  left: 100%;
  z-index: -1;
  transform: translate(0, -20%) rotate(5deg);
}

.face-box::before {
  left: -6%;
  border-radius: 10px 0px 0px 10px;
  transform: translate(0, -20%) rotate(-5deg);
}
.face-box .mouth {
  width: 20%;
  height: 10px;
  background-color: #cc0200;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%);
  border-radius: 0 0 30% 30%;
  box-shadow: 1px 1px 10px 0 rgb(78, 10, 10) inset;
}

/* ***************** */
/* siham */
.siham {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-48%, -80%);
  width: 130px;
  height: 105px;
  z-index: 8;
}

.cachcour {
  position: absolute;
  width: 150px;
  height: 60px;
  border: 3px solid black;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-image: linear-gradient(
    to right,
    var(--scarf-color2) 0% 10%,
    var(--scarf-color1) 10% 30%,
    var(--scarf-color2) 30% 50%,
    var(--scarf-color1) 50% 70%,
    var(--scarf-color2) 70% 90%,
    var(--scarf-color1) 90%
  );
  z-index: 7;
}

.cachcour1 {
  position: absolute;
  border: 3px solid black;
  width: 50px;
  height: 55px;
  top: 50%;
  left: 10%;
  background-image: linear-gradient(
    to bottom,
    var(--scarf-color2) 0% 10%,
    var(--scarf-color1) 10% 50%,
    var(--scarf-color2) 20%
  );
  z-index: 6;
}
/* aziz */

.feet {
  position: absolute;
  left: 50%;
  top: 65%;
  width: 200px;
  height: 130px;
  transform: translate(-40%, 50%);
  z-index: -1;
}

.rightup {
  position: absolute;
  width: 70px;
  height: 100px;
  border: 5px solid black;
  background-color: var(--leg-color);
  left: 49%;
  transform: translate(0%);
}

.leftup {
  position: absolute;
  width: 70px;
  height: 100px;
  border: 5px solid black;
  background-color: var(--leg-color);
  left: 44%;
  transform: translate(-100%);
}

.rightdown {
  position: absolute;
  width: 90px;
  height: 30px;
  border: 5px solid black;
  background-color: var(--clothes-color);
  left: 50%;
  top: 95px;
  border-radius: 0 32px 0 0;
}

.leftdown {
  position: absolute;
  width: 90px;
  height: 30px;
  border: 5px solid black;
  background-color: var(--clothes-color);
  top: 95px;
  left: 43%;
  transform: translate(-100%);
  border-radius: 32px 0 0 0;
}
/*samir*/
.to {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 50%;
  top: 50%;
  transform: translate(-55%, -50%);
  z-index: 2;
}
.box:hover .yd1 {
  transform: rotate(120deg) translateX(-100%);
  transform-origin: center;
  border-right: 5px solid var(--black);
  z-index: -1;
  top: 25%;
}
.ydo1 {
  width: 45px;
  height: 45px;
  background-color: var(--face-color);
  position: absolute;
  top: 100%;
  left: -1px;
  border: 2px solid rgb(123, 66, 66);
  border-radius: 0 0 50% 50%;
  z-index: -1;
}

.yd1 {
  width: 50px;
  height: 150px;
  background-color: var(--clothes-color);
  position: absolute;
  top: 30%;
  left: 0;
  border-top-left-radius: 80%;
  z-index: 3;
  transform: rotate(19deg) translate(0%, 0%);
  border: 5px solid var(--black);
  border-right: 0px solid var(--black);
  transition: transform 1s;
}

.lkrx1 {
  width: 60px;
  height: 200px;
  background-color: var(--clothes-color);
  position: absolute;
  top: 50px;
  left: 75%;
  border-top-right-radius: 80%;
  border: 5px solid var(--black);
}

.lkrx {
  width: 110px;
  height: 200px;
  background-color: var(--clothes-color);
  position: absolute;
  left: 50px;
  top: 50px;
  border-top-right-radius: 31px;
  border-top-left-radius: 31px;
  border-bottom: 5px solid var(--black);
}

.lkrx2 {
  width: 53px;
  height: 200px;
  background-color: var(--clothes-color);
  position: absolute;
  top: 50px;
  left: 19%;
  border-top-left-radius: 80%;
  z-index: -1;
  border: 5px solid var(--black);
}

.yd2 {
  transform: rotate(-18deg) translate(25%, -30%);
  width: 50px;
  height: 150px;
  background-color: var(--clothes-color);
  position: absolute;
  top: 50%;
  left: 100%;
  border-top-right-radius: 80%;
  z-index: 1;
  border: 5px solid var(--black);
  border-left: 0px solid var(--black);
}

.ydo2 {
  width: 45px;
  height: 45px;
  background-color: var(--face-color);
  position: absolute;
  top: 100%;
  /* padding: 21px; */
  left: 2px;
  border: 2px solid rgb(123, 66, 66);
  border-radius: 90px;
  z-index: -1;
  transform: translate(0%, 0%);
  border-radius: 0 0 50% 50%;
}

/*samir*/

.lkrx {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.lkrx .button {
  width: 15px;
  height: 15px;
  background-color: var(--clothes-color);
  border-radius: 50px;
  margin-left: 30px;
  box-shadow: 1px 1px 10px 0 gray;
  border: 2px solid #111;
  position: absolute;
}
.lkrx .button:nth-child(1) {
  top: 0%;
}
.lkrx .button:nth-child(2) {
  top: 20%;
}
.lkrx .button:nth-child(3) {
  top: 40%;
}
.lkrx .button:nth-child(4) {
  top: 60%;
}
.lkrx .button:nth-child(5) {
  top: 80%;
}

.lkrx .button::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--black);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* text style */
.tolking-box {
  position: absolute;
  width: 250px;
  height: 200px;
  /* left: 200px; */
  right: 0%;
  top: -10%;
  display: none;
}
.text {
  width: 100%;
  padding: 10px;
  /* border: 3px solid #ff0000; */
  background-color: #eee;
  border-radius: 20px 0px 20px 0;
  position: absolute;
  top: 5%;
  left: 50%;
}
.tolking-box .circle1 {
  width: 18px;
  height: 18px;
  position: absolute;
  background-color: #eee;
  border-radius: 50%;
  border-top-right-radius: 0;
  top: 30%;
  left: 50%;
}
.tolking-box .circle2 {
  width: 9px;
  height: 9px;
  background-color: #eee;
  border-radius: 50%;
  border-top-right-radius: 0;
  position: absolute;
  top: 45%;
  left: 60%;
}
.box:hover .tolking-box {
  display: block;
}
