* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root{
  --face-color:#FFCCAA;
  --hear-color:#653301;
  --scarf-color1:#FFCC66;
  --scarf-color2:#CC0200;
  --clothes-color:#222222;
  --leg-color:#444444;
  --black:black;
}

